# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/
.aider*
.tool-versions
*.sh
# CI/CD needs package-lock.json

# Docker overrides
docker-compose.override.yml

# Local Caddy configs
infra/caddy/*.local.caddy
public/assets/*
