<nav class="toolbar" role="navigation" aria-label="Directional toolbar">
  {{yield}}
  {{#if @collapsible}}
    <button type="button" class="btn small" {{on "click" @toggleCollapsed}}>
      {{if @collapsed "Expand" "Collapse"}}
    </button>
  {{/if}}
</nav>