<article class="panel-card">
  <h3>
    <LinkTo @route="cover-letters.show" @model={{@coverLetter}}>
      Cover Letter for {{@coverLetter.jobPost.title}} at {{@coverLetter.jobPost.company.name}}
    </LinkTo>
  </h3>
</article>
{{yield}}