<div class='builder-form'>
  <form>
    <div class='field'>
      <textarea aria-label='update-content' {{on 'change' this.updateContent}}>{{@coverLetter.content}}</textarea>
    </div>
  </form>
  {{yield}}
</div>
