<div class='builder-form'>
  <form {{on 'submit' this.saveCoverLetter}}>
    <div class='field'>
      Body:
      <textarea
        rows="30"
        aria-label='update-content'
        {{on 'change' this.updateContent}}>
        {{@coverLetter.content}}
      </textarea>
      <button type="submit" class='btn primary'>Save</button>
    </div>
  </form>
  {{yield}}
</div>
