<ul>
  {{#each @coverLetters as |coverLetter|}}
    {{#if coverLetter.isSaving}}
      <Panel::Card @sandtrap={{true}}>
        <span class="loader"></span>
      </Panel::Card>
    {{else}}
      <CoverLetters::Compact @coverLetter={{coverLetter}}/>
    {{/if}}
  {{/each}}
</ul>
