{{#if this.spinner.isShowing}}
  <div
    class="spinner-indicator spinner-indicator--active"
    ...attributes
    role="status"
    aria-live="polite"
    aria-label={{or this.displayWord "Loading"}}
  >
    <span class='loader'></span>
  </div>
{{/if}}
