<header class="site-header">
  <div class="container header-inner">
    <LinkTo @route="index" class="brand">Career Caddy</LinkTo>
    {{yield}}
    <nav class="nav">
      <LinkTo @route="job-posts.index" class="nav-link">Job posts</LinkTo>
      <LinkTo @route="cover-letters.index" class="nav-link">Cover letters</LinkTo>
      <LinkTo @route="resumes.index" class="nav-link">Resumes</LinkTo>
      <LinkTo @route="summaries.index" class="nav-link">Summaries</LinkTo>
      <LinkTo @route="scores.index" class="nav-link">Scores</LinkTo>
      <LinkTo @route="applications.index" class="nav-link">Applications</LinkTo>
    </nav>
    {{#if @user}}
      <div class="user">
        <span class="user-name">{{@user.name}}</span>
      </div>
    {{/if}}
  </div>
</header>
