<div class="header-content">
  <LinkTo @route="index" class="brand">Career Caddy</LinkTo>
  <nav class="nav" aria-label="loggedout">
    <LinkTo @route="job-posts.index" class="nav-link">Job posts</LinkTo>
    <a
      href={{this.aboutUrl}}
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >About</a>
    <a
      href={{this.docsUrl}}
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >Docs</a>
    <a
      href={{this.githubUrl}}
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >GitHub</a>
  </nav>
  {{#if this.authed}}
    <LinkTo @route="logout">Logout</LinkTo>
  {{else}}
    <LinkTo @route="login">Login</LinkTo>
  {{/if}}
</div>
