{{page-title "Summaries"}}
<Menus::SubnavBar>
  Summaries
</Menus::SubnavBar>
<div class="main container">
    {{#if this.model.length}}
        {{#each this.model as |summary|}}
          <Summaries::Item @summary={{summary}} />
        {{/each}}
    {{else}}
      <p class="muted">No summaries yet.</p>
    {{/if}}
</div>
