<section class="job-post-description">
  <div class="description-controls">
    <button
      type="button"
      class="btn btn-sm"
      {{on "click" this.copyToClipboard}}
    >
      {{this.copyButtonText}}
    </button>
  </div>
  <p class="muted">
    {{@jobPost.description}}
  </p>
</section>
