<div class="flex justify-end mb-4">
  <button type="button" class="btn" {{on "click" this.createScrape}}>New Scrape</button>
</div>

<Scrapes::List
  @scrapes={{this.model}}
  @showCompany={{false}}
  @showJobPost={{false}}
  @emptyMessage="No scrapes yet."
/>