{{page-title "New Application"}}
<div class="container">
  <JobApplications::Edit
    @jobApplication={{this.model}}
    @resume={{this.jobPostResume}}
    @resumeSetter={{this.resumeSetter}}
  />
</div>
