{{#if this.currentSummary}}
  <div class="flex items-center gap-2 mb-2">
    <button type="button" class="btn small" {{on "click" this.prev}}>←</button>
    <button type="button" class="btn small" {{on "click" this.next}}>→</button>
  </div>
  <Summaries::Form @summary={{this.currentSummary}} />
{{/if}}
