{{page-title "New"}}
<Menus::SubnavBar>
  new question
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='fairway'>
{{outlet}}
<Questions::Form
  @question={{this.model}}
/>
</div>
