<Menus::SubnavBar>
  {{this.model.question.content.content}}
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='fairway'>
  <Answers::Form @answer={{this.model}}/>
{{outlet}}
</div>
