<Answers::Show @answer={{this.model}} @editRoute="questions.show.answers.edit">
  <:actions>
    <button
      type="button"
      class="btn small"
      {{on "click" this.copyToClipboard}}
    >{{this.copyButtonText}}</button>
    <LinkTo @route="questions.show.answers" class="btn small">All Answers</LinkTo>
  </:actions>
</Answers::Show>