<Panel::Card>
  <div class="flex items-center justify-between mb-3">
    <h3 class="text-sm font-semibold text-gray-700">Answer</h3>
    <div class="flex gap-2">
      <LinkTo
        @route="questions.show.answers.edit"
        @model={{this.model}}
        class="btn btn-sm"
      >Edit</LinkTo>
      <LinkTo @route="questions.show.answers" class="btn btn-sm">All Answers</LinkTo>
    </div>
  </div>
  <MarkdownToHtml @markdown={{this.model.content}} />
</Panel::Card>