<Menus::SubnavBar>
  <label>ingest list</label>
  ingestion
</Menus::SubnavBar>
<div class="bar-cart">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
{{page-title "Import"}}
<UploadForm @onUpload={{this.ingestResume}} />
{{outlet}}
