<Menus::SubnavBar>
  <label>ingest list</label>
  ingestion
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}} />
{{page-title "Import"}}
<div class="fairway">
  <UploadForm @onUpload={{this.ingestResume}} />
  {{outlet}}
</div>