<Menus::SubnavBar>
  <label>ingest list</label>
  ingestion
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
{{page-title "Import"}}
<UploadForm @onUpload={{this.ingestResume}} />
{{outlet}}
