{{page-title "Import Resume"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <div class="controls">
      <LinkTo @route="resumes" class="btn">Back to Resumes</LinkTo>
    </div>
  </:subnav>
  <:main>
    <UploadForm
      @onUpload={{this.ingestResume}}
      @disabled={{this.uploadDisabled}}
    />
  </:main>
</RouteLayout>
