<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <LinkTo @route="resumes.import" class="btn">Import resume</LinkTo>
  </:subnav>
  <:main>
    {{#if this.noResumes}}
      <EmptyState @message="No resumes yet." />
      <p class="mt-2 text-center text-sm">
        <LinkTo @route="resumes.import" class="text-blue-600 hover:underline dark:text-blue-400">Import</LinkTo>
        one to start.
      </p>
    {{else}}
      {{#if this.model}}
        {{#each this.model as |resume|}}
          <div class="resume-item">
            <Resumes::Compact @resume={{resume}} />
          </div>
        {{/each}}
      {{else}}
        loading...
      {{/if}}
    {{/if}}
  </:main>
</RouteLayout>