<Menus::SubnavBar>

  <LinkTo @route="resumes.import" class='btn'>Import resume</LinkTo>

  <br/>
</Menus::SubnavBar>
<div class="bar-cart">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
<div class="fairway">
  {{#if this.noResumes}}
    <p>no resumes <LinkTo @route='resumes.import'>import</LinkTo> one to start.</p>
  {{else}}
    {{#if this.model}}
        {{#each this.model as |resume|}}
            <Resumes::Compact @resume={{resume}}/>
        {{/each}}
    {{else}}
      loading...
    {{/if}}
  {{/if}}
</div>
