<div class="tee-box">
  <div class="tee-left">
    {{yield to="left"}}
  </div>
  <div class="tee-center">
    {{yield to="center"}}
  </div>
  <div class="tee-right">
    {{yield to="right"}}
  </div>
</div>
