<RouteLayout @flashMessages={{this.flashMessages}}>
  <:main>
    <Panel::Card>
      <form class="builder-form" {{on "submit" this.submitScrape}}>
        <div class="field">
          <label class="field-label" for="scrape-url">URL</label>
          <input
            id="scrape-url"
            type="url"
            placeholder="https://..."
            {{on "change" this.updateUrl}}
          />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn primary">Submit and process</button>
          {{#if this.showHoldOption}}
            <button
              type="button"
              class="btn"
              {{on "click" this.submitHold}}
            >Submit and hold for external service</button>
          {{/if}}
        </div>
      </form>
    </Panel::Card>
  </:main>
</RouteLayout>