<RouteLayout @flashMessages={{this.flashMessages}}>
  <:main>
    <Panel::Card>
      <form class="builder-form" {{on "submit" this.submitScrape}}>
        <div class="field">
          <label class="field-label" for="scrape-url">URL</label>
          <input
            id="scrape-url"
            type="url"
            placeholder="https://..."
            {{on "change" this.updateUrl}}
          />
        </div>
        <div class="form-actions">
          <button type="submit" class="btn primary">Scrape</button>
        </div>
      </form>
    </Panel::Card>
  </:main>
</RouteLayout>