<form class="builder-form">
  <label class="field">
    <span class="field-label">Name</span>
    <input type="text" name="firstName" placeholder={{@user.name}} />
  </label>

  <label class="field">
    <span class="field-label">Phone</span>
    <input type="tel" name="phone" placeholder="{{@user.phone}}" />
  </label>

  <label class="field">
    <span class="field-label">Email</span>
    <input type="email" name="email" placeholder={{@user.email}}/>
  </label>

  {{yield}}
</form>
