{{page-title "Applications"}}
<div class="container">
  {{#if this.model.length}}
    <JobApplications::List @jobApplications={{this.model}}/>
  {{else}}
      <p>no applications yet</p>
      <LinkTo @route="job-applications.new">create new</LinkTo>
  {{/if}}
  {{outlet}}
</div>
