{{page-title "Applications"}}

<Menus::SubnavBar>
    <LinkTo @route="job-applications.new" class='btn'>New Application</LinkTo>
</Menus::SubnavBar>
<div class="container">
  {{#if this.model.length}}
    <JobApplications::List @jobApplications={{this.model}}/>
  {{else}}
      <p>no applications yet</p>
  {{/if}}
  {{outlet}}
</div>
