<form class="builder-form">
    <label class="field">
        <span class="field-label">Title</span>
        <input type="text" name="Title" value={{@resume.title}} {{on "input" this.updateTitle}}/>
    </label>
</form>
{{yield}}


