<div class="flex items-center justify-between mb-4">
  <h2
    class="text-lg font-semibold text-gray-800"
  >Questions</h2>
  <LinkTo @route="companies.show.questions.new" class="btn small">+ New Question</LinkTo>
</div>

<Questions::List
  @questions={{this.model}}
  @showRoute="questions.show"
  @editRoute="questions.edit"
  @answerRoute="questions.show.answers.new"
  @emptyMessage="No questions for this company."
/>
