<form class="builder-form">
    <div class="skills-form">
        <pre>
        <textarea type="text" placeholder="Add a skill" value={{@skill.text}} {{on "input" this.updateSkill}} />
        </pre>
        <div class="skills-new">
            <button type="button" {{on "click" this.addSkill}}>Add</button>
        </div>
    </div>
</form>
