<ul>
  {{#each @coverLetters as |coverLetter|}}
    <li><LinkTo @route="cover-letters.show" @model={{coverLetter}}>Cover Letter #{{coverLetter.id}}</LinkTo></li>
  {{/each}}
</ul>
<LinkTo @route="cover-letters.new">New Cover Letter</LinkTo>
