<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button
      type="button"
      class="btn danger"
      {{on "click" this.deleteCompany}}
    >Delete</button>
  </:subnav>
  <:main>
    <Companies::Form @company={{this.model}} />
  </:main>
</RouteLayout>