<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    {{#if this.isStaff}}
      <button
        type="button"
        class="btn danger"
        {{on "click" this.deleteCompany}}
      >Delete</button>
    {{/if}}
  </:subnav>
  <:main>
    <Companies::Form @company={{this.model}} />
  </:main>
</RouteLayout>