<Menus::SubnavBar>
  <div class="controls">
    <label>search by name: </label>
    <input
      type="search"
      aria-label='search'
      placeholder="Search companies..."
      value={{this.query}}
      {{on "input" this.onInput}}
    />
  </div>
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='fairway'>
  <Companies::List @companies={{this.companies}} />
</div>
