<div class="user-info">
  <span data-test-user-first-name>{{@user.firstName}}</span>
  <span data-test-user-last-name>{{@user.lastName}}</span>
  <span data-test-user-email>{{@user.email}}</span>
</div>

{{yield}}