<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button
      type="button"
      class="btn danger"
      {{on "click" this.deleteCoverLetter}}
    >Delete</button>
  </:subnav>
  <:main>
    <CoverLetters::Form @coverLetter={{this.model}} />
  </:main>
</RouteLayout>