<Menus::SubnavBar>
  <LinkTo @route="cover-letters.new" class='btn'>New Cover Letter</LinkTo>
</Menus::SubnavBar>
<div class="main container">
  <CoverLetters::List @coverLetters={{this.model}} />
  {{outlet}}
</div>
