<Menus::SubnavBar>
  <LinkTo @route="cover-letters.new" class='btn'>New Cover Letter</LinkTo>
</Menus::SubnavBar>
<div class="fairway">
  <CoverLetters::List @coverLetters={{this.model}} @toggleFavorite={{this.toggleFavorite}} />
  {{outlet}}
</div>
