{{page-title "Resumes"}}
<div class='container'>
  <ul>
    {{#each @resumes as |resume|}}
      <li><LinkTo @route="resumes.show" @model={{resume}}>Resume #{{resume.name}}</LinkTo></li>
    {{/each}}
  </ul>
  {{yield}}
</div>
