{{page-title "About"}}

<Menus::SubnavBar>
  {{#if this.session.isAuthenticated}}
    <LinkTo @route="job-posts.index" class="nav-link">Job posts</LinkTo>
    <LinkTo @route="cover-letters.index" class="nav-link">Cover letters</LinkTo>
    <LinkTo @route="resumes.index" class="nav-link">Resumes</LinkTo>
    <LinkTo @route="summaries.index" class="nav-link">Summaries</LinkTo>
    <LinkTo @route="scores.index" class="nav-link">Scores</LinkTo>
    <LinkTo @route="job-applications.index" class="nav-link">Applications</LinkTo>
  {{else}}
    <h2>Welcome to Career Caddy</h2>
  {{/if}}
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='landing-page' >
  <div class='fairway'>
    <Panel::Card>
    <ul>
      <li>
        Career Caddy documents your journey to getting a job.
      </li>
      <li>
        Career Caddy is AI enhanced.
      </li>
      <li>
        Career Caddy learns your professional persona.
      </li>
      <li>
        Career Caddy can score a job against your resume.
      </li>
      <li>
        Career Caddy can increase your ranking among other applicants.
      </li>
      <li>
        Career Caddy can write your cover letter.
      </li>
    </ul>
    </Panel::Card>
    {{outlet}}
  </div>
</div>
