{{page-title "About"}}

<Menus::SubnavBar>
  {{#if this.session.isAuthenticated}}
    <LinkTo @route="job-posts.index" class="nav-link">Job posts</LinkTo>
    <LinkTo @route="cover-letters.index" class="nav-link">Cover letters</LinkTo>
    <LinkTo @route="resumes.index" class="nav-link">Resumes</LinkTo>
    <LinkTo @route="summaries.index" class="nav-link">Summaries</LinkTo>
    <LinkTo @route="scores.index" class="nav-link">Scores</LinkTo>
    <LinkTo @route="job-applications.index" class="nav-link">Applications</LinkTo>
  {{else}}
    <h2>Welcome to Career Caddy</h2>
  {{/if}}
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='landing-page' >
  <div class='fairway'>
    <Panel::Card>
    <ul>
      <li>
        Career Caddy documents your journey to getting a job.
        The problem with looking for jobs among all the websites is that there is no centralized place to keep track.
        If you're organized, you'll document each one on a speadsheet.
        If you're not organized, you're going to have a bad time recalling it while filling unemployment.
      </li>
      <li>
        Career Caddy is AI enhanced.
        I read your resume and turn it into data
        I use ChatGPT to score your resume against the job description
        It writes coverletters
        It writes new executive summary
      </li>
      <li>
        Career Caddy learns your professional persona.
        It writes more like you as you provide information.
        All the work you enter in the app is used to inform chatgpt about your writing style.  It makes it easier to want to find your voice
        It can use your documents to answer questions on an application
      </li>
      <li>
        Career Caddy can increase your ranking among other applicants.
        Using Career Caddy makes the application process so much simpler.
      </li>
    </ul>
    </Panel::Card>
    {{outlet}}
  </div>
</div>
