{{page-title "Career Caddy"}}
<MainApplication>
  <div class='greens'>
    {{outlet}}
  </div>
  <footer>
    copyleft 2025
    <script defer data-domain="careercaddy.online" src="https://analytics.wedgewoodmanor.org/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </footer>
</MainApplication>

<BasicDropdownWormhole />
