{{page-title "Career Caddy"}}
<Menus::SubnavBar>
    {{#if this.session.isAuthenticated}}
      <h3 style='margin-top:0px'>Welcome to Career Caddy, {{this.currentUser.user.firstName}}</h3>
    {{else}}
      <h2>Welcome to Career Caddy</h2>
    {{/if}}
</Menus::SubnavBar>
<div class='landing-page'>
  <br/>
    <p>Your personal career management assistant</p>

    <div class="landing-actions">
      <LinkTo @route="resumes.index" class="btn primary">Get Started</LinkTo>
      {{#unless this.session.isAuthenticated}}
        <LinkTo @route="login" class="btn">Login</LinkTo>
      {{/unless}}
      {{#if this.unhealthy}}
        <LinkTo @route="setup" class="btn secondary">Initial Setup</LinkTo>
      {{/if}}
    </div>
</div>
