{{page-title "Career Caddy"}}

<div class="container">
  <div class="landing-page" style="background-image: url('/images/ian_finnis.webp'); background-size: cover; background-position: top; background-repeat: no-repeat; min-height: 50vh;">
    <h1>Welcome to Career Caddy</h1>
    <p>Your personal career management assistant</p>

    <div class="landing-actions">
      <LinkTo @route="resumes.index" class="btn primary">Get Started</LinkTo>
      <LinkTo @route="login" class="btn">Login</LinkTo>
      <LinkTo @route="setup" class="btn secondary">Initial Setup</LinkTo>
    </div>
  </div>
</div>
