<Menus::SubnavBar>
  <label>bye bye</label>
</Menus::SubnavBar>
<div class="bar-cart">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
<div class='fairway'>
  <h1>You have successfully logged out.</h1>
</div>
