<Menus::SubnavBar>
  <label>resume list</label>
  I get overwritten by subnavbar in nested template
</Menus::SubnavBar>
<div class="bar-cart">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
<div class='fairway'>
  {{outlet}}
</div>
